.vscode
agent-backend/agentenv
agent-backend/.env
*__pycache__*
agent-backend/.env

backend/node_modules
backend/.env
backend/package-lock.json

frontend/node_modules
frontend/package-lock.json
frontend/.env

SampleBackendFlow.txt