.bottomSheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.bottomSheet.expanded{
    height: 50vh;
}

.header{
    height: 1.5vh;
    width: 100%;
    display: flex;
    /* align-content: space-around; */
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
}

.dragHandle {
    width: 9vw;
    height: .74vh;
    background-color: #9b9a9a;
    border-radius: 2px;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: none;
    /* Hidden when collapsed */
}

.bottomSheet.expanded .content {
    display: block;
    width: 100%;
}

.tabsBar {
    height: 5vh;
    width: 100%;
    display: flex;
    /* border-top: 1px solid #f0f0f0; */
    flex-direction: row;
}

.tabsBar button {
    flex: 1;
    border: none;
    background: white;
    font-size: 14px;
    font-weight: 500;
    color: #888;
    cursor: pointer;
}

.tabsBar button.activeTab {
    color: #007bff;
    font-weight: 600;
}

/* Hide on Desktop */
@media (min-width: 769px) {
    .bottomSheet {
        display: none;
    }
}